/* BEGIN TERMS & CONDITIONS */
.box_int_info {
  float: left;
  width: 100vw;
  margin: 80px 0;
  .full_info {
    float: left;
    width: 100%;
    padding: 0 0 80px;
    margin: 0 0 80px;
    border-bottom: 1px solid var(--dorado);
  }
  h3 {
    margin: 0 0 10px;
  }
  .box {
    background: var(--blanco);
    padding: 30px;
    margin-bottom: 30px;
    lost-column: 9/12 2;
  }
}
/* END TERMS & CONDITIONS */